name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Установить SSH ключ
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.VDS_SSH_KEY }}

      - name: Деплой на сервер
        run: |
          ssh -o StrictHostKeyChecking=no deploy@77.246.247.68 << 'EOF'
            cd /var/www/epn
            git pull origin main
            sudo systemctl reload nginx  # или apache2, если вы используете Apache
          EOF
